*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* home css */
.header{
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.judul{
    font-weight: bold;
    font-size: larger;
    color: white;
}



/* typingtext css */
.hidden {
    opacity:0;
}
.console-container {
    text-align:center;
    color:white;
}
.console-underscore {
    display:inline-block;
    position:relative;
}
.typed-cursor{
    opacity: 0;
	display: none;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* scroll to top button */
.scroll-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .show-btn {
    opacity: 1 !important;
    pointer-events: all !important;
  }

  .scroll-button i{
      font-size: 50px;
      color: grey;
  }

.header-kanan button{
    color: rgb(173, 173, 173);
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
}

.header-kanan button:hover{
    color: white;
    font-weight: bold;
}

.content{
    padding: 50px;
}

.form-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 60px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(125, 132, 138, 0.2);
    /* background-color: coral; */
}

h1{
    font-size: 50px;
}

.label{
    font-weight: bold;
}

input[type=text], input[type=email], input[type=password], input[type=date]{
    width: 98%;
    padding: 15px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #f3f3f3;
}

/* input[type=text]:focus, input[type=email]:focus, select:focus{
    outline: none;
    border: 1px solid purple;
} */

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-left: 10px;
}

.button{
    align-items: center;
    text-align: center;
}

.submitBtn {
    background-color: grey;
    color: white;
    padding: 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}  

.submitBtn:hover{
    background: rgb(43, 43, 43);    
    transition: 0.5s;
}

.content-bottom{
    margin-top: 25px;
    text-align: center;
}

.content-bottom a{
    text-decoration: none;
    color: brown;
}
.content-bottom a:hover{
    color: grey;
    transition: 1s;
}

.forget{
    text-align: right;
}
.forget a{
    color: black;
    font-size: small;
}
.forget a:hover{
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .judul{
        font-weight: bold;
        font-size: medium;
        color: white;
    }
    .header-kanan button{
        font-size: small;
    }
    h1{
        font-size: 30px;
    }
    input[type=text], input[type=email], input[type=password], input[type=date]{
        width: 90%;
        padding: 15px;
    }
    ::placeholder{
        font-size: 10px;
    }
    .submitBtn{
        width: 110%;
    }
    p{
        font-size: 12px;
    }
}